main{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  font-family: 'Gemunu Libre', sans-serif;
  font-weight: 200;
  width: 80%;
  max-width: 1200px ;
  margin: auto;

  .container-img{
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 30% 30% 50% 50%;
    margin-top: 60px;
    transform-style: preserve-3d;
    
    img{
      height: 400px;
      width: 400px;
      margin-right: 400px;
      object-fit: cover;
      transform: scale(1.5);
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.815);
    }
  }
}
.wrapper{
  display: inline-flex;

  .static-text{
    font-size: 40px;
    color: $contrastclr;
  }
  .dynamic-text{
    margin-left: 10px;
    font-size: 40px;
    color: $secondaryclr;

    span{
      position: relative;
    }
  }
}
span::after{
  content: "";
  position: absolute;
  left: 0; 
  height: 100%;
  background: $primaryclr;
  width: 100%;
  border-left: 2px solid $contrastclr;
  animation: typing 2.5s steps(28) forwards, pulse 0.8s infinite;
 
}

.main-container{
  .hello {
    font-size: 40px;
    color: $contrastclr; 
    margin-bottom: 10px;
  }
  .my-name{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 10px;
    color: rgb(194, 110, 54);
    margin-left: 10px;
  }
}
.name-container{
  display: flex;
  align-items: baseline;
}


@keyframes typing {
  100%{
    left: 95%;
    margin: 0 -35px 0 35px;
  }
}
@keyframes pulse {
  100%{
    border-left: 2px transparent;
  }
}