.projects{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}
.container-card-projects{
  display: grid;
  grid-template-columns: 50% 50%;
}

.card-projects{
  margin-top: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-left: 40px ;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  max-width: 400px;
  padding: 20px;
  background-color: rgb(32, 38, 43);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.603);
  transition: ease 1s;
  border-bottom: 3px solid rgb(30, 71, 80);

 
  button{
    padding: 8px 18px;
    color: $contrastclr;
    font-family: $ffsec;
    font-size: 1.1em;
    border: none;
    background-color: $primaryclr;
    border-radius: 15px;
    cursor: pointer;
  }
  p{
    color: $contrastclr;
    font-size: 1em;

  }
  h3{
    color: rgb(165, 195, 202);
    font-size: 1.2em;
    font-family: $ffsec;
    text-transform: uppercase;
  }
  img{
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
  }
  img:hover{
    filter: brightness(30%);
    transition: ease-in-out 1s;
  }
}


.visit-link{
  background: linear-gradient(45deg, slateblue, coral) border-box;
cursor: pointer;
border: 3px solid transparent;
border-radius: 15px;

}