@charset 'UTF-8';
//fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@500&display=swap');
//variables
$primaryclr:rgb(29, 34, 44);
$secondaryclr: rgb(9, 153, 179);
$contrastclr:white;
$fontfamily:'Inter', sans-serif;

//scss imports
@import 'reset';
@import 'header';
@import 'main';
body{
  font-family: $fontfamily;
  background-color: $primaryclr;
}